body,html{
	width:100%;
}

table{
	font-size:11px;
}

.table{
	margin-bottom:0px;
}

a.navbar-brand{
	float:right;
}

.panel-default{
	width: 900px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

.icon-sort{
	float:right;
	color:gray;
}

.icon-sort:hover{
	cursor:hand;
	cursor:pointer;
}

.fa-arrows:hover{
	cursor:hand;
	cursor:pointer;
}

.drop-over{
	background:yellow;
}

.fa-gear{
	float:right;
}
